@import '../../../shared/styles/mixins/breakpoints';



.root {
    padding-top: 35px;
    padding-bottom: 80px;
}


.title {
font-size: 25px;
line-height: 31px;
font-weight: 500;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    gap:15px;
}

.navbarTitle {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

.navbar {
    margin-top: 15px;
}

.content {
    width: 100%;
   
}




@include breakpoint(md) {
    .root {
        padding-top: 32px;
    }

    .mainWrapper {
        gap: 20px;
    }
    .navbar {
        margin-top: 18px;
    }
    
}

@include breakpoint(2xl){
    .root {
        padding-top: 45px;
        padding-bottom: 120px;
    }


    .title {
        font-size: 45px;
        line-height: 48px;
        }

        .mainWrapper {
            
           flex-direction: row;
            margin-top: 50px;
        }


        .navbarTitle {
            font-size: 28px;
            line-height: 32px;

        }
        
        .navbar {
            margin-top: 25px;
        }
}