


.root {
    position: relative;
}

.currentOption {
    cursor: pointer;
    height: 70px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}


.name {
    font-size: 16px;
    line-height: 16px;
}



.content {
    overflow: hidden;
    position: absolute;
    top: 70px;
    max-height: 0px;
    visibility: hidden;
    transition:visibility 0.3s ease, opacity 0.3s ease;
    width: max-content;
    opacity: 0;
    z-index: 10;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.159);

    &__open {
    max-height: 200px;
    visibility: visible;
    opacity: 1;
    }
}

