@import '../../../shared/styles/mixins/breakpoints';


.root {
    min-height: 100vh;
    padding-top: 66px;
    padding-bottom: 80px;

    .phoneInput {
        height: 60px;
        width: 100%;
        padding: 0 20px;
        background: white;
        caret-color: unset;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #D5D5D5;
    
        &:focus {
             outline:1px solid #cacaca;
        }
    
        &::placeholder {
            color: #C1C1C1;
            font-size: 16px;
            line-height: 27px;
        }
    }
}

.error {
    font-size: 12px;
    line-height: 12px;
    color: red;
    margin-top: 5px;
}

.title {

    font-size: 25px;
    font-weight: 500;
    line-height: 31px;

}

.borderBlock {
    height: max-content;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 15px;
    border: 1px solid #EAEAEA;
}

.label {
    display: block;
    margin-bottom: 5px;
font-size: 15px;
font-weight: 400;
line-height: 27px;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_item {
    width: 100%;
    input {
        width: 100%;
    }
    
}











.submitBtn {
 

    button {
        width: 100%;
    }
}


.rememberMe {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    >p {
        font-size: 15px;
        line-height: 18px;
         color: #474747;

         >a {
            border-bottom: 1px solid black;
         }
 }
}

.toRegistration {
    height: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.toRegistration_icon {
    width: max-content;
}


.toRegistration_header {
     display: flex;
     flex-direction: column;
     align-items: center;

    >h2 {
        margin-top: 12px;
        font-size: 28px;
        font-weight: 500;
        line-height: 33px;
        text-align: center;
         }

}

.toRegistration_block {
    display: flex;
    flex-direction: column;
    align-items: center;
      
             >p {
                color: #515151;
                margin-top: 12px;
                font-size: 15px;
                line-height: 26px;
                text-align: center;
                >span {
                    font-weight: 700;
                }
             }

             >a {
                margin-top: 10px;
             }
    
             >button {
       
              width: 100%;
             }
    
   
}





@include breakpoint(md) {

    .root {
        padding-top: 63px;
        padding-bottom: 80px;
    }
    .borderBlock {
        flex-direction: row;
        gap: 20px;
    }

    .form {
        flex-basis: 50%;
        width: 100%;
    }

    .toRegistration {
        height: 100%;
        flex-basis: 50%;
    }

    .toRegistration_block {
        height: 100%;

        >a {
            margin-top: 10px;
        }
        >button {
            width: 293px;
        }
        >p {
            margin-top: 12px;
            height: max-content;
        }
    }
    .toRegistration_header {
        flex-direction: row;
        gap: 29px;
    }
}


@include breakpoint(2xl) {

    .root {
        padding-top: 76px;
        padding-bottom: 120px;
    }

    .title {
        font-size: 45px;
        line-height: 48px;
    }


   .borderBlock {
    margin-top: 53px;
    justify-content: space-between;
   }


    .borderBlock {
        padding: 40px;
       
    }
   
    .form {
        width: 100%;
        max-width: 464px;
    }


    .toRegistration {
        padding-left: 50px;
        border-left: 1px solid #EAEAEA;
    }

    .toRegistration_block {
        align-items: start;
        >p {
            margin-top: 32px;
            padding-left: 67px;
            text-align: start;
        }

        >a {
            margin-left: 67px;
        }

       
    }
}