@import '../../../../shared/styles/mixins/breakpoints';



.root {
width: 100%;
}


.componentsHolder {
    display: flex;
    width: 100%;
}

.itemsList {
  flex-basis: 75%;
}


@include breakpoint(2xl) {

}