



.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.imagesHolder {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows: 150px;
    gap: 10px;
    grid-auto-flow: dense;
    width: 100%;
}