@import '../../../shared/styles/mixins/breakpoints';


.root {
   width: 100%;

}

.filtersTop {
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.filtersTopInner {
    height: 54px;
}

.filtersMobile {
    cursor: pointer;
    width: max-content;
    height: 100%;
 
    margin: 0 auto;

  
}

.sizes {
    border-right: 1px solid #DFDFDF;
}

.price {
    border-right: 1px solid #DFDFDF;
}

.color {
    border-right: 1px solid #DFDFDF;
}

.material {
    border-right: 1px solid #DFDFDF;
}

.reset {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DFDFDF;
    background-color: #FBFBFB;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500px;
}

.filtersMobileOpener {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    gap: 10px;
    &:hover {
        color: var(--link-hover)
    }
}

.burgerIcon {
    height: 24px;
    width: auto;
   margin-bottom: 5px;
}

.filtersDesktop {
    display: none;
}


.filtersBottom {
    height: 126px;
}

.filtersBottomInner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.leftBlock {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 15px;
    color: #B5B5B5;
}

.rightBlock {
display: flex;
gap: 70px;
}


@include breakpoint(2xl){

    .filtersMobile{
        display: none;
    }

    .filtersDesktop {
        display: flex;
        height: 100%;
    }

    .filtersTopInner {
        height: 70px;
    }
    
}