@import "../../../shared/styles/mixins/breakpoints";

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    width: min-content;
}

.arrows {
    display: flex;
    gap: 15px;
    width: max-content;
}

.arrowLeft {
    cursor: pointer;
    > svg {
        width: 33px;
        height: auto;
    }
    &:hover {
        > svg {
            opacity: 0.4;
        }
    }
}
.arrowRight {
    cursor: pointer;
    > svg {
        transform: scaleX(-1);
        width: 33px;
        height: auto;
    }

    &:hover {
        > svg {
            opacity: 0.4;
        }
    }
}

.slider {
    width: 100%;
   height: 180vw;
    margin-top: 33px;
    
}

@include breakpoint(md) {
    .slider {
        height: unset;
    }
}

@include breakpoint(2xl) {
    .title {
        font-size: 39px;
        line-height: 50px;
    }

    .arrowLeft {
        > svg {
            width: 39px;
        }
    }
    .arrowRight {
        > svg {
            width: 39px;
        }
    }

    .slider {
        margin-top: 60px;
    }
}
