@import '../../../../shared/styles/mixins/breakpoints';


.root {
  width: auto;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.item {
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    border: 1px solid #EAEAEA;
    gap: 12px;


    .text {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        color: #232323;
        width: min-content;
    }


      svg {
        path {
            stroke: #C7C7C7;
        }
      }

      &:hover {
      background-color: rgb(237, 237, 237);

      // svg {
      //   path: {
      //       stroke: white;
      //   }
      // }

      // .text {
      //   color: white;
      // }

      }
}

.active {
  background-color: black;
  color: white;
  .text{
    color: white;
  }

  &:hover {
    background-color: black;
  }
}


@include breakpoint(md) {


    .list{
        display: flex;
    }
}


@include breakpoint(2xl) {

  .list {
    width: 323px;
   flex-direction: column;

  }

  .item {
    flex-direction: row;
    height: 75px;

    .text {
      font-size: 13px;
      line-height: 20px;
      width: max-content;
    }
  }
}