@import '../../../../shared/styles/mixins/breakpoints';


.root {
    padding-top: 25px;
    padding-bottom: 80px;
}
.decriptionHolder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    row-gap: 25px;
}

.descriptionGallery {
    grid-row: 1;
}

.descriptionInfo {
    height: max-content;
    grid-row: 2;
}

.desktopGallery {
    display: none;
}

@include breakpoint(md) {

    .decriptionHolder {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .descriptionGallery {
        grid-column: 1;
        grid-row: 1/3;
    }

    .descriptionInfo {
        grid-column: 2;
        grid-row: 1;
    }

    .mobileGallery {
        display: none;
    }
    .desktopGallery {
        display: block;
    }
    .characteristics {
    grid-column: 1/3;
    grid-row: 3;
    }
}

@include breakpoint(2xl) {

    .descriptionGallery {
        grid-column: 1;
        grid-row: 1/4;
    }
     .decriptionHolder {
        column-gap: 50px;
     }
     .characteristics {
        grid-column: 2;
        grid-row: 2;
        }
}