



.content {
    margin-left: -1px;
    width: 182px;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid #DFDFDF;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    >p {
        font-size: 15px;
        line-height: 15px;
    }
}

.colorCircle{
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;   
        transform: translate(-50%, -50%);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 1px solid rgb(213, 213, 213);
    }


    &__active {


        
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;   
            transform: translate(-50%, -50%);
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 1px solid black;
         }
    }
 
}