@import '../../styles/mixins/breakpoints';


.root {
 width: 100%;
}


.list {
    display: flex;
    gap: 9px;
}

.main_item {
color: #868686;
}

.item {
color: #434343;

}

.arrow {
    margin-right: 9px;
}

.link {
    font-size: 12px;
    line-height: 11px;
}

@include breakpoint(2xl) {


    .link {
        font-size: 14px;
    }
}