@import '../../../shared/styles/mixins/breakpoints';


.inner {
    background-color: #1E1E1E;
    position: relative;
    padding: 35px;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}

.title {
   font-size: 34px;
   line-height: 40px;
   font-weight: 500;
   >span {
    display: inline-block;
    width: 76px;
    height: 2px;
    background-color: white;
    margin-bottom: 11px;

   }
}

.name {
    margin-top: 17px;
    font-size: 22px;
    line-height: 26px;
}

.price {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;

    >span {
        font-size: 22px;
        line-height: 26px;
    }
}

.button {
    width: max-content;
    margin: 0 auto;
    margin-top: 15px;
    >button {
        max-width: 265px;
    }
}

.imageHolder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.image {
    display: none;
}


.image_m {
    margin-top: 40px;
    z-index: 2;
    width: auto;
   transform: translate(-10%) rotate(-10deg);
   height: 200px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    scale: 0.75;
    transform: translate(-65%, -65%);
}

.info {
    width: 100%;
    display: flex;
    gap: 14px;

}

.plusIcon {
    flex-shrink: 0;
   height: 18px;
   width: 18px;
    >svg {
        opacity: 50%;
        width: 100% !important;
        height: 100% !important;
    }
}

.infoText {
    font-size: 15px;
    line-height: 23px;
}

@include breakpoint(md) {
    .inner {
        flex-direction: row;
    }

    .button {
        margin-left: 0;
    }

    .info {
        display: none;
    }

  .imageHolder {
    translate: 0% 5%;
    scale: 1.4;
      width: 100%;
  }
}

@include breakpoint(2xl) {


    .inner {
        padding: 110px 70px;
    }

    .title {
        font-size: 62px;
        line-height: 73.5px;
    }

    .name {
        margin-top: 28px;
        font-size: 36px;
        line-height: 42px;
    }

    .price {
        margin-top: 28px;
        font-size: 16px;
        line-height: 20px;
          >span {
            font-size: 22px;
            line-height: 26px;
          }
    }

    .button {
        margin-top: 22px;
        >button {
            width: 246px;
        }
    }

    .imageHolder {
        scale: 1.8
    }

    .image_m {
        display: none 
    }

    .image {
        display: block;
        margin-top: 40px;
    z-index: 2;
    width: auto;
   transform: translate(-10%) rotate(-10deg);
   height: 300px;
    }

    .logo {
        scale: 1.2;
        translate: 35% 15%;
    }

    .info {
        position: absolute;
        display: flex;
        right: 40px;
        bottom: 104px;
        width: 300px;
        font-size: 15px;
        line-height: 22px;
        opacity: 0.7;
    }
}