@import '../../../shared/styles/mixins/breakpoints';


.root {
    background-color: #F5F5F5;
    cursor: pointer;
    width: 258px;
    padding: 20px;
    padding-top: 15px;
}

.image {
    width: 100%;
    height: auto;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.gender {
    font-size: 11px;
    line-height: 11px;
    color: #747474;
    font-weight: 500;
}

.name {
    font-size: 18px;
    line-height: 25px;
}


.colors {
    font-size: 15px;
    line-height: 26px;
    display: flex;
    gap: 10px;
}

.color {
    height: 14px;
    width: 14px;
    border-radius: 50%;
}


.prices {
    display: flex;
    gap: 10px;
}

.price {
    font-size: 19px;
    line-height: 26px;
    vertical-align: bottom;
}

.oldPrice {
    font-size: 15px;
    line-height: 26px;
    color: #8888;
    text-decoration:line-through;
}


@include breakpoint(md){
    
     .root {
        width: 522px;
        display: flex;
        padding: 17px 20px;
     }


     .image {
        width: 50%;
     }

     .description {
        width: 50%;
     }

    .gender {
        font-size: 11px;
        line-height: 11px;
    }
    
    .name {
        width: 243px;
        font-size: 18px;
        line-height: 25px;
    }
    
    
    .colors {
        font-size: 14px;
        line-height: 26px;
    }
    
    .color {
        height: 14px;
        width: 14px;
    }


    
    .price {
        font-size: 18px;
        line-height: 26px;
    }
    
    .oldPrice {
        font-size: 14px;
        line-height: 26px;
    }
}

@include breakpoint(2xl) {


    .root {
        width: 900px;
        height: 450px;
        padding: 0px 0px;
    }

    .image {
        width: 50%;
    }

    .description {
           width: 50%;
          justify-content: center;
          align-items: flex-start;
    }

    .gender {
        font-size: 12px;
        line-height: 12px;
    }
    
    .name {
        width: 346px;
        font-size: 28px;
        line-height: 38px;
    }
    
    
    .colors {
        font-size: 15px;
        line-height: 26px;
    }
    
    .color {
        height: 15px;
        width: 15px;
    }
    

    .prices {
        display: flex;
        gap: 10px;
    }
    .price {
        font-size: 19px;
        line-height: 26px;
    }
    
    .oldPrice {
        font-size: 15px;
        line-height: 26px;
    }
}