@import '../shared/styles/mixins/breakpoints';


.root {
   min-height: 100vh;
   height: max-content;
   
}


.carousel {
   margin-top: 38px;
}

.advantages {
margin-top: 50px;
}



@include breakpoint(md){
   .advantages {
      margin-top: 38px;
   }
}