@import '../shared/styles/mixins/breakpoints';


.root {
   padding-top: 38px;
   padding-bottom: 80px;
   min-height: 100vh;
   height: max-content;
   
}

.carousel {

   width: 100%;
}


.advantages {
margin-top: 50px;
}

.newProductsSlider {
   margin-top: 40px;
}

.bestSellingSlider {
   margin-top: 84px;
}

.heatOfTheSeason {
   margin-top: 70px;
}

.articlesSlider {
   margin-top: 60px;
}

.discountsSlider {
   margin-top: 40px;
}

.newCollections {
   margin-top: 60px;
}

.aboutStore {
   margin-top: 60px;
}


@include breakpoint(md){
   .advantages {
      margin-top: 38px;
   }
   .newProductsSlider {
      margin-top: 50px;
   }
   .bestSellingSlider {
      margin-top: 70px;
   }
   .discountsSlider {
      margin-top: 50px;
   }
   .newCollections {
      margin-top: 50px;
   }
   .aboutStore {
      margin-top: 50px;
   }
}

@include breakpoint(2xl){

   .root {
      padding-bottom: 120px;
   }

   .newProductsSlider {
      margin-top: 90px;
   }
   
   .bestSellingSlider {
      margin-top: 115px;
   }
   .heatOfTheSeason {
      margin-top: 115px;
   }
   .articlesSlider {
      margin-top: 90px;
   }
   .discountsSlider {
      margin-top: 90px;
   }
   .newCollections {
      margin-top: 90px;
   }
   .aboutStore {
      margin-top: 130px;
   }
}