
.root {
    padding-top: 400px;
    button {
        cursor: pointer;
        font-size: 32px;
        margin: 0 auto;
        width: max-content;
        display: block;
        margin-top: 20px;
    }
}


.form {
    margin: 0 auto;
    gap: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;

    input {
        font-size: 24px;
    }
    }

