@import '../../../shared/styles/mixins/breakpoints';


.root {
    height: max-content;
    overflow: hidden;
    padding-bottom: 40px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    max-width: 205px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.arrows {
    display: flex;
    gap: 15px;
    width: max-content;
}

.arrowLeft {
    cursor: pointer;
    > svg {
        width: 33px;
        height: auto;
    }
    &:hover {
        > svg {
            opacity: 0.4;
        }
    }
}

.arrowRight {
    cursor: pointer;
    > svg {
        transform: scaleX(-1);
        width: 33px;
        height: auto;
    }

    &:hover {
        > svg {
            opacity: 0.4;
        }
    }
}

.content {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: max-content;
}

.swiper {
    overflow: visible;
    width: 100vw;
    height: max-content;
    :global {

        .swiper-wrapper {
            height: max-content !important;
        }
        .swiper-scrollbar {
            left: 0;
            cursor: pointer;
            bottom: -40px;
            width: 95vw;
            max-width: 1360px;
        }
    }
}

.swiperSlide {
    margin-right: 15px;
    width: max-content !important;
}


@include breakpoint(2xl) {

    .root {
        padding-bottom: 60px;
    }

    .title {
        max-width: 414px;
        font-size: 39px;
        line-height: 50px;
    }

    .content {
        margin-top: 30px;
    }

   

    .swiper {
        width: 80vw;
        :global {
            .swiper-scrollbar {
                bottom: -60px;
            }
        }
    }

    .swiperSlide {
        height: max-content;
        margin-right: 20px;
    }
}